.Vloer_Window {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1035;
}

.Vloer_body {
    position: relative;
    height: 100%;
}

.love {
    position: relative;
    margin-bottom: 6em;
    padding-top: 4em;
    text-align: center;
}

@media (min-width: 600px) {
    .love {
        left: 50%;
        margin-bottom: 0;
        margin-left: -9.375em;
        padding-top: 10em;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

.bubbles {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.bubble {
    pointer-events: none;
    position: absolute;
    z-index: 200;
    border-radius: 50%;
}

.bubble:nth-child(1) {
    top: 78%;
    left: 24%;
    height: 5vmin;
    width: 5vmin;
    -webkit-animation: love-burst 3s infinite 0s;
    animation: love-burst 3s infinite 0s;
    box-shadow: inset 0 0 0 2.5vmin #fff;
    -webkit-transform: translate(0, 0.95em) scale(0);
    transform: translate(0, 0.95em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(2) {
    top: 86%;
    left: 53%;
    height: 6vmin;
    width: 6vmin;
    -webkit-animation: love-burst 3s infinite 0.15s;
    animation: love-burst 3s infinite 0.15s;
    box-shadow: inset 0 0 0 3vmin #fff;
    -webkit-transform: translate(0, 0.7em) scale(0);
    transform: translate(0, 0.7em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(3) {
    top: 64%;
    left: 2%;
    height: 19vmin;
    width: 19vmin;
    -webkit-animation: love-burst 3s infinite 0.3s;
    animation: love-burst 3s infinite 0.3s;
    box-shadow: inset 0 0 0 9.5vmin #fff;
    -webkit-transform: translate(0, 0.75em) scale(0);
    transform: translate(0, 0.75em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(4) {
    top: 87%;
    left: 41%;
    height: 6vmin;
    width: 6vmin;
    -webkit-animation: love-burst 3s infinite 0.45s;
    animation: love-burst 3s infinite 0.45s;
    box-shadow: inset 0 0 0 3vmin #fff;
    -webkit-transform: translate(0, 0.7em) scale(0);
    transform: translate(0, 0.7em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(5) {
    top: 19%;
    left: 88%;
    height: 17vmin;
    width: 17vmin;
    -webkit-animation: love-burst 3s infinite 0.6s;
    animation: love-burst 3s infinite 0.6s;
    box-shadow: inset 0 0 0 8.5vmin #fff;
    -webkit-transform: translate(0, 0.1em) scale(0);
    transform: translate(0, 0.1em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(6) {
    top: 74%;
    left: 52%;
    height: 9vmin;
    width: 9vmin;
    -webkit-animation: love-burst 3s infinite 0.75s;
    animation: love-burst 3s infinite 0.75s;
    box-shadow: inset 0 0 0 4.5vmin #fff;
    -webkit-transform: translate(0, 0.85em) scale(0);
    transform: translate(0, 0.85em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(7) {
    top: 67%;
    left: 52%;
    height: 5vmin;
    width: 5vmin;
    -webkit-animation: love-burst 3s infinite 0.9s;
    animation: love-burst 3s infinite 0.9s;
    box-shadow: inset 0 0 0 2.5vmin #fff;
    -webkit-transform: translate(0, 0.1em) scale(0);
    transform: translate(0, 0.1em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(8) {
    top: 53%;
    left: 51%;
    height: 11vmin;
    width: 11vmin;
    -webkit-animation: love-burst 3s infinite 1.05s;
    animation: love-burst 3s infinite 1.05s;
    box-shadow: inset 0 0 0 5.5vmin #fff;
    -webkit-transform: translate(0, 0.7em) scale(0);
    transform: translate(0, 0.7em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(9) {
    top: 31%;
    left: 21%;
    height: 19vmin;
    width: 19vmin;
    -webkit-animation: love-burst 3s infinite 1.2s;
    animation: love-burst 3s infinite 1.2s;
    box-shadow: inset 0 0 0 9.5vmin #fff;
    -webkit-transform: translate(0, 0.65em) scale(0);
    transform: translate(0, 0.65em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(10) {
    top: 12%;
    left: 56%;
    height: 19vmin;
    width: 19vmin;
    -webkit-animation: love-burst 3s infinite 1.35s;
    animation: love-burst 3s infinite 1.35s;
    box-shadow: inset 0 0 0 9.5vmin #fff;
    -webkit-transform: translate(0, 0.6em) scale(0);
    transform: translate(0, 0.6em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(11) {
    top: 92%;
    left: 75%;
    height: 17vmin;
    width: 17vmin;
    -webkit-animation: love-burst 3s infinite 1.5s;
    animation: love-burst 3s infinite 1.5s;
    box-shadow: inset 0 0 0 8.5vmin #fff;
    -webkit-transform: translate(0, 0.35em) scale(0);
    transform: translate(0, 0.35em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(12) {
    top: 49%;
    left: 70%;
    height: 1vmin;
    width: 1vmin;
    -webkit-animation: love-burst 3s infinite 1.65s;
    animation: love-burst 3s infinite 1.65s;
    box-shadow: inset 0 0 0 0.5vmin #fff;
    -webkit-transform: translate(0, 0.45em) scale(0);
    transform: translate(0, 0.45em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(13) {
    top: 45%;
    left: 46%;
    height: 19vmin;
    width: 19vmin;
    -webkit-animation: love-burst 3s infinite 1.8s;
    animation: love-burst 3s infinite 1.8s;
    box-shadow: inset 0 0 0 9.5vmin #fff;
    -webkit-transform: translate(0, 0.25em) scale(0);
    transform: translate(0, 0.25em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(14) {
    top: 28%;
    left: 44%;
    height: 19vmin;
    width: 19vmin;
    -webkit-animation: love-burst 3s infinite 1.95s;
    animation: love-burst 3s infinite 1.95s;
    box-shadow: inset 0 0 0 9.5vmin #fff;
    -webkit-transform: translate(0, 0.5em) scale(0);
    transform: translate(0, 0.5em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(15) {
    top: 10%;
    left: 72%;
    height: 18vmin;
    width: 18vmin;
    -webkit-animation: love-burst 3s infinite 2.1s;
    animation: love-burst 3s infinite 2.1s;
    box-shadow: inset 0 0 0 9vmin #fff;
    -webkit-transform: translate(0, 0.85em) scale(0);
    transform: translate(0, 0.85em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(16) {
    top: 62%;
    left: 92%;
    height: 5vmin;
    width: 5vmin;
    -webkit-animation: love-burst 3s infinite 2.25s;
    animation: love-burst 3s infinite 2.25s;
    box-shadow: inset 0 0 0 2.5vmin #fff;
    -webkit-transform: translate(0, 0.65em) scale(0);
    transform: translate(0, 0.65em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(17) {
    top: 62%;
    left: 6%;
    height: 1vmin;
    width: 1vmin;
    -webkit-animation: love-burst 3s infinite 2.4s;
    animation: love-burst 3s infinite 2.4s;
    box-shadow: inset 0 0 0 0.5vmin #fff;
    -webkit-transform: translate(0, 0.8em) scale(0);
    transform: translate(0, 0.8em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(18) {
    top: 6%;
    left: 53%;
    height: 17vmin;
    width: 17vmin;
    -webkit-animation: love-burst 3s infinite 2.55s;
    animation: love-burst 3s infinite 2.55s;
    box-shadow: inset 0 0 0 8.5vmin #fff;
    -webkit-transform: translate(0, 1.25em) scale(0);
    transform: translate(0, 1.25em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(19) {
    top: 79%;
    left: 55%;
    height: 15vmin;
    width: 15vmin;
    -webkit-animation: love-burst 3s infinite 2.7s;
    animation: love-burst 3s infinite 2.7s;
    box-shadow: inset 0 0 0 7.5vmin #fff;
    -webkit-transform: translate(0, 0.55em) scale(0);
    transform: translate(0, 0.55em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.bubble:nth-child(20) {
    top: 54%;
    left: 8%;
    height: 18vmin;
    width: 18vmin;
    -webkit-animation: love-burst 3s infinite 2.85s;
    animation: love-burst 3s infinite 2.85s;
    box-shadow: inset 0 0 0 9vmin #fff;
    -webkit-transform: translate(0, 0.8em) scale(0);
    transform: translate(0, 0.8em) scale(0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes love-burst {

    50%,
    100% {
        box-shadow: inset 0 0 0 0 red;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
}

@keyframes love-burst {

    50%,
    100% {
        box-shadow: inset 0 0 0 0 red;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
}

.heart {
    fill: #fff;
    opacity: 0;
}

.bubble:nth-child(1) .heart {
    -webkit-animation: love 3s forwards infinite 0s;
    animation: love 3s forwards infinite 0s;
    -webkit-transform: scale(0.5) rotate(-5deg);
    transform: scale(0.5) rotate(-5deg);
}

.bubble:nth-child(2) .heart {
    -webkit-animation: love 3s forwards infinite 0.15s;
    animation: love 3s forwards infinite 0.15s;
    -webkit-transform: scale(0.5) rotate(15deg);
    transform: scale(0.5) rotate(15deg);
}

.bubble:nth-child(3) .heart {
    -webkit-animation: love 3s forwards infinite 0.3s;
    animation: love 3s forwards infinite 0.3s;
    -webkit-transform: scale(0.5) rotate(-20deg);
    transform: scale(0.5) rotate(-20deg);
}

.bubble:nth-child(4) .heart {
    -webkit-animation: love 3s forwards infinite 0.45s;
    animation: love 3s forwards infinite 0.45s;
    -webkit-transform: scale(0.5) rotate(16deg);
    transform: scale(0.5) rotate(16deg);
}

.bubble:nth-child(5) .heart {
    -webkit-animation: love 3s forwards infinite 0.6s;
    animation: love 3s forwards infinite 0.6s;
    -webkit-transform: scale(0.5) rotate(-10deg);
    transform: scale(0.5) rotate(-10deg);
}

.bubble:nth-child(6) .heart {
    -webkit-animation: love 3s forwards infinite 0.75s;
    animation: love 3s forwards infinite 0.75s;
    -webkit-transform: scale(0.5) rotate(23deg);
    transform: scale(0.5) rotate(23deg);
}

.bubble:nth-child(7) .heart {
    -webkit-animation: love 3s forwards infinite 0.9s;
    animation: love 3s forwards infinite 0.9s;
    -webkit-transform: scale(0.5) rotate(-5deg);
    transform: scale(0.5) rotate(-5deg);
}

.bubble:nth-child(8) .heart {
    -webkit-animation: love 3s forwards infinite 1.05s;
    animation: love 3s forwards infinite 1.05s;
    -webkit-transform: scale(0.5) rotate(8deg);
    transform: scale(0.5) rotate(8deg);
}

.bubble:nth-child(9) .heart {
    -webkit-animation: love 3s forwards infinite 1.2s;
    animation: love 3s forwards infinite 1.2s;
    -webkit-transform: scale(0.5) rotate(-10deg);
    transform: scale(0.5) rotate(-10deg);
}

.bubble:nth-child(10) .heart {
    -webkit-animation: love 3s forwards infinite 1.35s;
    animation: love 3s forwards infinite 1.35s;
    -webkit-transform: scale(0.5) rotate(49deg);
    transform: scale(0.5) rotate(49deg);
}

.bubble:nth-child(11) .heart {
    -webkit-animation: love 3s forwards infinite 1.5s;
    animation: love 3s forwards infinite 1.5s;
    -webkit-transform: scale(0.5) rotate(-11deg);
    transform: scale(0.5) rotate(-11deg);
}

.bubble:nth-child(12) .heart {
    -webkit-animation: love 3s forwards infinite 1.65s;
    animation: love 3s forwards infinite 1.65s;
    -webkit-transform: scale(0.5) rotate(37deg);
    transform: scale(0.5) rotate(37deg);
}

.bubble:nth-child(13) .heart {
    -webkit-animation: love 3s forwards infinite 1.8s;
    animation: love 3s forwards infinite 1.8s;
    -webkit-transform: scale(0.5) rotate(-1deg);
    transform: scale(0.5) rotate(-1deg);
}

.bubble:nth-child(14) .heart {
    -webkit-animation: love 3s forwards infinite 1.95s;
    animation: love 3s forwards infinite 1.95s;
    -webkit-transform: scale(0.5) rotate(40deg);
    transform: scale(0.5) rotate(40deg);
}

.bubble:nth-child(15) .heart {
    -webkit-animation: love 3s forwards infinite 2.1s;
    animation: love 3s forwards infinite 2.1s;
    -webkit-transform: scale(0.5) rotate(-26deg);
    transform: scale(0.5) rotate(-26deg);
}

.bubble:nth-child(16) .heart {
    -webkit-animation: love 3s forwards infinite 2.25s;
    animation: love 3s forwards infinite 2.25s;
    -webkit-transform: scale(0.5) rotate(22deg);
    transform: scale(0.5) rotate(22deg);
}

.bubble:nth-child(17) .heart {
    -webkit-animation: love 3s forwards infinite 2.4s;
    animation: love 3s forwards infinite 2.4s;
    -webkit-transform: scale(0.5) rotate(-31deg);
    transform: scale(0.5) rotate(-31deg);
}

.bubble:nth-child(18) .heart {
    -webkit-animation: love 3s forwards infinite 2.55s;
    animation: love 3s forwards infinite 2.55s;
    -webkit-transform: scale(0.5) rotate(10deg);
    transform: scale(0.5) rotate(10deg);
}

.bubble:nth-child(19) .heart {
    -webkit-animation: love 3s forwards infinite 2.7s;
    animation: love 3s forwards infinite 2.7s;
    -webkit-transform: scale(0.5) rotate(-5deg);
    transform: scale(0.5) rotate(-5deg);
}

.bubble:nth-child(20) .heart {
    -webkit-animation: love 3s forwards infinite 2.85s;
    animation: love 3s forwards infinite 2.85s;
    -webkit-transform: scale(0.5) rotate(10deg);
    transform: scale(0.5) rotate(10deg);
}

@-webkit-keyframes love {
    50% {
        fill: red;
        opacity: 1;
    }
}

@keyframes love {
    50% {
        fill: red;
        opacity: 1;
    }
}

/* wei hao 123*/